/***** Banner ******/
.banner-illustrations {
    display: grid;
    grid-template-areas: 
                "a a a a"            
                "a a a a"            
                "b b c c"            
                "d d d d"
                "e e e e"
                "f f f f";
    grid-template-rows: repeat(6, 128px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
    & > * {
        --padding-x: 13px;
        --padding-y: 12px;
        border-radius: 8px;
        display: flex;
        align-items: end;
        color: #FFF;
        font-weight: 500;
        padding: var(--padding-y) var(--padding-x);
        position: relative;
        z-index: 1;

        > img {
            position: absolute;
            top: var(--padding-y); right: var(--padding-x);
            width: unset;
            z-index: -1;
        }
    }
    & > :nth-child(1) {
        grid-area: a;
        background-color: var(--clr-galactic-blue);
    }
    & > :nth-child(2) {
        grid-area: b;
        background-color: var(--clr-summer-yellow);
    }
    & > :nth-child(3) {
        grid-area: c;
        background-color: var(--clr-pink);
    }
    & > :nth-child(4) {
        grid-area: d;
        background-color: var(--clr-light-red);
    }
    & > :nth-child(5) {
        grid-area: e;
        background-color: var(--clr-cyan);
    }
    & > :nth-child(6) {
        grid-area: f;
        background-color: var(--clr-dark-purple);
    }
}

/***** About ******/
.about .left-part {
    
}

/***** Projects ******/
.splide__slide {
    border-radius: 8px;
    overflow: hidden;
}